*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #d5e1ef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 310px;
}
.barcode{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.par1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-align:center;
}
.par2{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
}